<div class="copyright">
    &copy; 2ка CRM. by <a href="https://vk.com/el_arr">El_Arr</a>. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
</div>